@import "./base/reset";
@import "./utils/variables";
@import "./utils/mixins";
@import "./base/typography";
@import "./components/buttons";
@import "./components/etape-card";
@import "./components/restaurant-card";
@import "./components/restaurant-header";
@import "./layout/header";
@import "./pages/home";
@import "./pages/restaurant";
@import "./layout/footer";




.utils p {
  padding: 20px;
  font-size: 20px;
  color: $col-secundary;
  
}
