*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Roboto";
  src: url(../../assets/fonts/roboto/Roboto-Regular.ttf);
  font-family: shrikhand;
  src: url(../../assets/fonts/shrikhand/Shrikhand-Regular.ttf);
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.8rem;
  font-family: shrikhand, serif;
}

h2 {
  font-size: 2.2rem;
}

a {
  text-decoration: none;
}

.bouton {
  display: inline-block;
  height: 5rem;
  padding: auto;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  line-height: 5rem;
  background: linear-gradient(356deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 2.5rem;
}
.bouton a {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.etape-card {
  background-color: #f6f6f6;
  border-radius: 1.5rem;
  padding: 3rem;
  position: relative;
}
.etape-card span {
  font-size: 1.6rem;
}
.etape-card i {
  font-size: 1.8rem;
  color: #7e7e7e;
}
.etape-card span:last-child {
  font-size: 2.4rem;
  color: #9356dc;
  position: absolute;
  left: -1.2rem;
}

header {
  margin: 2.3rem auto 1.1rem;
  text-align: center;
}
header a {
  display: none;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #eaeaea 0%, #eaeaea 80%, #cfcfcf 100%);
  height: 5rem;
}
.localisation i {
  font-size: 1.6rem;
  margin-right: 1.8rem;
}
.localisation p {
  font-size: 1.3rem;
}

.accueil__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding: 4rem;
}
.accueil__center h2, .accueil__center p {
  padding-bottom: 2rem;
}
.accueil__center p {
  font-size: 1.6rem;
}

.fonctionnement {
  margin: 0 2rem;
  padding: 4.5rem 2rem;
}
.fonctionnement h2 {
  padding-bottom: 3rem;
}

.retour-accueil {
  position: relative;
}
.retour-accueil a {
  position: absolute;
  top: 0;
  left: 2rem;
  font-size: 2rem;
  display: inline;
  color: black;
}

footer {
  background-color: #353535;
  color: white;
  padding: 2.6rem;
}
footer h2 {
  font-size: 1.2rem;
  font-family: shrikhand, serif;
  margin-bottom: 2rem;
}
footer a {
  color: inherit;
}
footer li {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
footer i {
  width: 2rem;
  margin-right: 1rem;
}

.utils p {
  padding: 20px;
  font-size: 20px;
  color: #ff79da;
}/*# sourceMappingURL=style.css.map */