footer {
    
    background-color: $col-footer;
    color:white;
    padding: 2.6rem;
    h2 {
        font-size: 1.8rem;
        font-weight: 400;
        font-family: shrikhand, serif;
        margin-bottom: 2rem;
    }
    a {
        color: inherit;
        transition: font-size 0.3s ease-in;
        &:hover {
            font-size: larger;
        }
    }
    li {
        font-size: 1.4rem;
        padding-bottom: 1rem;
    }
    i {
        width: 2rem;
        margin-right: 1rem;
    }
}