header {    
    padding:2.3rem 0 1.1rem 0;
    text-align: center;
    a {display: none;}
    
}

// ============= flèche du header ===============

.retour-accueil {
    position: relative;
  
    a {
      position: absolute;
      top: 25%;
      left: 1rem;
      font-size: 2rem;
      display: inline-block;
      height: 100%;
      width: 4rem;
      color: black;
      i {
        width: 6rem;
        transition: font-size 0.2s ease-in;      
      }
      &:hover i {
        font-size: larger;
      }
    }
  }
  