// *********** contenu **************************
// Media queries pour portables et desktop :
// - page d'accueil
// - page type "restaurant"


/* ============ MEDIA QUERIES =======================*/

/* ============ Breakpoint 2  > 992px  =======================*/

$lateral-pading: 2%;

@media screen and (min-width: 993px) {
    p.logo {
        font-size: 5rem;
        margin: 1rem 0;
    }

    .aside-restau-display, .accueil, header, footer {
        max-width: 1200px;
        margin: auto;
    }
    // --------------- home page ------------------

    .aside-restau-display {
        display: block;
    }

    .fonctionnement {
        width: 100%;
        @include lateral-margin();
    }

    .etapes-cards {

        display: flex;
        
    }
    .etape-card {
        margin: 0 3%;        
        margin-bottom: 6.5rem;
        
    }

    .restaurants {
        width: 100%;
        background-color: $col-section;
        @include lateral-margin();
    }

    .restaurants-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .restaurant-card {
        
        width: 26rem;
        
        &__img {
            transform: translateY(0%);
            height: 16rem;
            img {
                height: 100%;
                width: auto;
            }
        }
    }
    // --------------- restaurant page ------------------

    
    .main-restaurant {
        display: block;
        background-color: $col-section;
        max-width: 1200px;
        margin: 0 auto;
    }
    .header-restaurant-display {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 2rem;
        

        }
    .restaurant-header {
        max-width: 60%;        
        background-color: $col-section;
        margin: auto 3%;
        border-radius: 15px;
        height: fit-content;
        &__img {
            height: 20rem;
            img {
                transform: translateY(-45%);
            }
        }
        
        &__content {
            justify-content: space-around;
            border-radius: 15px;
            background-color: white;
            width: 100%;
            height: 6rem;
            border-radius: 0;
            
        }
        img {
            width: 100%;
            height: auto;
            transform: translateY(-35%);
        }
    }
    .menu__display {
        width: 100%;
        padding: 3rem 3%;

    }
    .menu {
        display: flex;
        justify-content: space-between;        
        &__categorie {
            width: 33%;
            padding: 1rem ;
            &:last-child {
                margin-right: 5%;
            }
            
        }

    }
    .plat-card-box {
        max-width: 32rem;
        width: 100%;
    }

}