// *********** contenu **************************
// Media queries pour tablettes :
// - page d'accueil
// - page type "restaurant"





/* ============ MEDIA QUERIES =======================*/

/* ============ Breakpoint 1  > 768px  - Format Tablettes =======================*/
$lateral-pading: 4%;

@media screen and (min-width: 769px) {

    // --------------- home page ------------------
    .aside-restau-display {
        display: flex;
    }

    .fonctionnement {
        width: 50%;
        @include lateral-margin();

        h2 {
            padding-top: 2rem;
        }
    }

    .restaurants {
        width: 50%;
        @include lateral-margin();
        padding-bottom: 2rem;
        background-color: white;

        h2 {
            padding-top: 3rem;
        }
    }

    .restaurant-card__img {
        height: 12rem;


    }


    footer {
        h2 {
            text-align: center;
        }
        ul {
            display: flex;
            
            li {
                width: 50%;
                text-align: center;
            }
        }
    }

    // --------------- restaurant page ------------------
    .main-restaurant {
        display: flex;
        background-color: $col-section;
        justify-content: space-around;
    }

    .header-restaurant-display {
        width: 50%;
        padding: 3rem 3%;
    }

    .restaurant-header {
        width: 100%;
        background-color: $col-section;
        max-height: 30rem;

        border-radius: 15px;
        height: fit-content;
        // position: fixed;

        &__content {
            border-radius: 15px;
            background-color: white;
            width: 100%;
            // top:-1px;
            height: 6rem;
            border-radius: 0;

        }

        img {
            width: auto;
            height: 100%;
            transform: translateY(-10%);
        }

        .menu__display {
            width: 50%;
            padding: 3rem 3%;
        }
    }

    .plat-card-box {
        max-width: 95%;
    }


}