// *********** contenu **************************
// Varibles des boutons
// Le style générique du bouton 'explorer ...' et celui du bouton 'commander'






// =========== variables et mixin button
//------ eclaircissement des couleur du gradient pour le hover
$hov-lighten-percent:7; // pourcentage de l'éclaircissement
$hov-button-grad1: lighten($col-primary,$hov-lighten-percent); //couleur 1 du gradient pour le hover
$hov-button-grad2: lighten($col-secundary, $hov-lighten-percent); //couleur 2 du gradient pour le hover

//------ padding latéraux -----------------------
$padding-explorer: 0 2.3rem;
$padding-commander: 0 5rem;

// mixin gradient pour les boutons - aspect générique et hover
@mixin grad-button($col1,$col2) {

  background: linear-gradient(356deg,
      $col1 0%,
      $col2 100%);
}


// ============ style ================================
.bouton {
  display: inline-block;
  box-shadow: $box-shadow;
  height: 5rem;
  padding: $padding-explorer;
  margin: auto;
  line-height: 5rem;
  @include grad-button($col-primary,$col-secundary);
  border-radius: 2.5rem;
  transition: all 0.3s ease-out;
  a {
    display: inline-block;
    height: 100%;
    color: white;
    font-size: 1.6rem;
    font-weight: normal;
  }
  &--commander {
    padding: $padding-commander;
  }
  &:hover {
    @include grad-button($hov-button-grad1,$hov-button-grad2);
    @include hover-card();
  }
}