
@mixin habillage-texte {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }



.coeur {
    font-size: 3rem;
    & span:first-child {
      background-color: transparent;
      position: relative;
      @include habillage-texte();
      transition: all 0.3s;
      font-size: 3rem;
      &:hover {
        z-index: 2;
        background: linear-gradient(
          214deg,
          $col-primary 0%,
          $col-secundary 100%
        );
        @include habillage-texte();
      }
    }
    & span:last-child {
      font-size: 3rem;
      color: grey;
      // font-weight: 200!important;
      position: absolute;
      opacity: 1;
      // z-index: 2;
      transform: translateX(-100%);
      &:hover {
        opacity: 0;
        transform: translateX(0);
      }
    }
  }