.etape-card {
    
    background-color: $section;
    border-radius: 1.5rem;
    padding: 3rem;
    position: relative;
    span {
        font-size: 1.6rem;
    }
    i {
        font-size: 1.8rem;
        color: $home-icons;
    }
    span:last-child {
        font-size: 2.4rem;
        color: $primary;
        position: absolute;
        left: -1.2rem;

    }
}