$col-etape-hover:#f5edff;


.etape-card {
  background-color: $col-section;
  border-radius: 3rem;
  padding: 3rem 2rem 3rem 3rem;
  margin-bottom: 2rem;
  position: relative;
  width: 28rem;
  transition: background-color 0.3s ease-in;
  &:hover {
    background-color: $col-etape-hover;
  }
  
  .etape-content {
    display: flex;
    &__icone {
      width: 3rem;
      display: flex;
      justify-content: center;
    }
    & p {
      font-family: Roboto, sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      margin-left: 1rem;
    }
    & i {
      
      font-size: 1.8rem;
      color: $col-home-icons;
      transition: color 0.3s ease-in;
    }
    
  }
  & span {
    position: absolute;
    font-size: 3rem;
    color: $col-primary;
    left: -1rem;
    top: 2.5rem;
  }
}
.etape-card:hover .etape-content i {
  color:$col-primary;
}