// ================= animation check plat


$tra-plate-width: 7rem; //largeur finale du champ check
$tra-plate-duration: 0.2s; //durée de l'animation
$tra-plate-rotation: -360deg; // rotation initiale de l'icone check
$width-plate-i: 25px; // diamètre du rond du check

.plat-card-box {
  height: 7rem;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: $box-shadow;
  margin-bottom: 1.5rem;
  &:last-child {
    margin-bottom: 5rem;
  }
}

.plat-card {
  height: 100%;
  font-size: 1.6rem;
  display: flex;
  width: 100%;
  background-color: white;
  position: relative;
  transition-duration: $tra-plate-duration;
  transition-timing-function: ease-in;

  &__display {
    width: 100%;
    padding: 1.6rem 2.2rem 1.6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    font-size: 1.6rem;
    height: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    h3 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.4rem;
    }

    h3,
    p {
      padding-right: 3rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__price {
    align-self: flex-end;

    strong {
      font-size: 1.4rem;
    }
  }

  &:hover {
    width: calc(100% - $tra-plate-width);
    cursor: pointer;
  }
}

// ************** stylisation du check **************
.box-check {
  width: $tra-plate-width;
  height: 100%;
  background-color: $col-tertiary;
  position: absolute;
  right: -$tra-plate-width;
  text-align: center;

  &__icone {
    font-size: 1.5rem;
    color: $col-tertiary;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    & i {
      height: $width-plate-i;
      width: $width-plate-i;
      border-radius: 50%;
      line-height: $width-plate-i;
      text-align: center;
      transform: rotate($tra-plate-rotation);
      transition-duration: calc($tra-plate-duration + 0.1s);
      transition-timing-function: ease-out;
    }
  }
}

// ************** rotation du check sur hover de la card **************
.plat-card:hover .box-check__icone i {
  background-color: white;
  transform: rotate(360deg);
}


