// *********** contenu **************************
// La déclaration des polices de caractères hebergées
// Les styles de bases des titres, paragraphes .......





// ======================= styles ====================================
// -------------- base -----------------------------------
// police standard 16px --> 62.5% = 10px --> 1rem = 10px
html {
  font-size: 62.5%;
}

// ----------- réglages généraux --------------------
body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  &.logo {
    font-size: 2.8rem;
    font-family: 'shrikhand', serif;
  }
}

a {
  text-decoration: none;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}