// padding - marging
$lateral-pading: 5%;

@mixin lateral-margin {
  padding-right: $lateral-pading;
  padding-left: $lateral-pading;
}




.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $col-footer;
  background: linear-gradient(0deg,
      $col-location-bottom 0%,
      $col-location-bottom 80%,
      $col-location-top 100%);
  height: 5rem;

  i {

    font-size: 1.6rem;
    margin-right: 1.8rem;
  }

  p {
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;


  }
}

.accueil__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $col-section;
  padding: 4rem;

  h1,
  p {
    padding-bottom: 2rem;
    text-align: center;
  }

  p {
    font-size: 1.6rem;
  }
}

.aside-restau-display {
  width: 100%;
}

.fonctionnement {
  @include lateral-margin();


  h2 {
    padding-top: 5.5rem;
    padding-bottom: 3rem;
  }
}


.restaurants {
  background-color: $col-section;
  @include lateral-margin();
  padding-bottom: 6.5rem;

  h2 {
    padding: 6rem 0 2rem 0;
  }
}