// ============= flèche du header ===============

.retour-accueil {
  position: relative;

  a {
    position: absolute;
    top: 25%;
    left: 1rem;
    font-size: 2rem;
    display: inline-block;
    height: 100%;
    width: 4rem;
    color: black;
    i {
      width: 6rem;
      transition: font-size 0.2s ease-in;      
    }
    &:hover i {
      font-size: larger;
    }
  }
}


// ============= menu display : menu + bouton 'commander' ===============

.menu__display {
  padding: 1rem;
  padding-bottom: 0;
  background-color: $col-section;
}

// ============= menu : Entrées + Plats + Desserts ===============

.menu {

  // ---------- menu__categorie : Entrée , Plat ou Dessert
  &__categorie {
    width: 100%;

    h2 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.6rem;
      position: relative;
      margin-bottom: 2.5rem;

      &::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 0;
        display: inline-block;
        height: 0px;
        width: 4rem;
        border-bottom: solid 2px $col-tertiary;
      }
    }

    // --------- plat-card-box : container d'un plat voir composant 'plat-card'
    & .plat-card-box {
      opacity: 0;
    }
  }

  // ----------- Bouton commander positionnement - voir composant 'button'
  &__display-button {
    display: flex;
    padding-bottom: 4rem;
  }
}

// ============= apparition décalée des plats ===============

// ----- paramètres --------------
$anim-duration: 0.3s; // durée de l'animation (par plat)
$anim-delai: 0.15s; // delai entre deux plats
$anim-max-childs: 5; // nombre de plats maximum + 1

// -------- generation des délais animations
@for $i from 2 through $anim-max-childs {
  .menu__categorie .plat-card-box:nth-child(#{$i}) {
    animation: plat-apparition $anim-duration ease-out $i*$anim-delai forwards;

  }
}

// ----------- animation
@keyframes plat-apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}