// définition des couleurs

$primary:#9356dc;
$secundary:#ff79da;
$tertiary:#99e2d0;
$location-bottom:#eaeaea;
$location-top:#cfcfcf;
$section: #f6f6f6;
$home-icons:#7e7e7e;
$nouveau-txt:#008766;
$footer:#353535;
